.contacts {
  padding: 70px 99px 44px 120px;

  h2 {
    margin: 0;
    margin-bottom: 40px;

    @include block-title-desktop;
  }
}

.contacts__list {
  position: relative;

  @include list-reset;

  column-count: 2;
  column-gap: 120px;
  margin-left: 5px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 1px;
    height: 76%;

    background-color: #74819c;

    transform: translateY(calc(-50% - 10px));
  }

  li {
    margin-bottom: 20px;
  }

  h3 {
    margin: 0;
    margin-bottom: 5px;

    font-size: 16px;
    font-weight: 700;
  }

  p {
    margin: 0;

    font-size: 14px;
  }

  a {
    display: inline-block;

    font-size: 14px;
    color: inherit;
    vertical-align: top;

    @include dark-link-conditions;
  }
}

@media (max-width: $tablet-max-width) {
  .contacts {
    font-size: 24px;
    letter-spacing: 0.02em;
  }
}

@media (max-width: $mobile-max-width) {
  .contacts {
    font-size: 20px;
  }
}
