.main-offer {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  max-width: 560px;
  min-height: 462px;
}

.main-offer__info {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: 462px;
  padding: 41px 45px 45px;

  background-color: $brightlightest;

  h2 {
    margin: 0;
    margin-bottom: 20px;

    font-family: inherit;
    font-weight: 700;
    font-size: 28px;
    color: $lightest;
    text-align: left;
    text-transform: none;
  }

  strong {
    font-size: 70px;
  }

  p {
    margin: 0;
    margin-bottom: 20px;

    font-size: 18px;
    color: $lightest;
  }
}

.main-offer__link {
  align-self: flex-start;

  &:first-of-type {
    margin-top: auto;
  }

  &:not(:last-of-type) {
    margin-bottom: 5px;
  }
}

.main-offer__image {
  align-self: stretch;

  width: 50%;
  overflow: hidden;

  img {
    height: 100%;

    vertical-align: top;

    object-fit: cover;
    object-position: 27% 50%;
  }
}

@media (max-width: $tablet-max-width) {
  .main-offer {
    max-width: 678px;
  }

  .main-offer__info {
    width: 41.3%;
  }

  .main-offer__image {
    position: relative;
    width: 59%;

    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;

      max-width: 434px;

      object-position: -3px -2px;
    }
  }
}

