.page-main__gym {
  margin: 0 auto;
  margin-bottom: 120px;
}

.page-main__season-tickets {
  margin-bottom: 50px;
}

.page-main__billboard {
  margin-bottom: 116px;
}

.page-main__coaches {
  margin-bottom: 80px;
}

@media (max-width: $tablet-max-width) {
  .page-main__gym {
    margin-bottom: 100px;
  }

  .page-main__season-tickets {
    margin-bottom: 48px;
  }

  .page-main__billboard {
    margin-bottom: 98px;
  }
}

@media (max-width: $mobile-max-width) {
  .page-main__gym {
    margin: 0;
    margin-bottom: 70px;
  }

  .page-main__season-tickets {
    margin-bottom: 70px;
  }

  .page-main__billboard {
    margin-bottom: 68px;
  }
}
