.site-logo {
  width: 89px;
  height: 20px;
}

@media (max-width: $tablet-max-width) {
  .site-logo {
    width: 82px;
    height: 17px;
  }
}

@media (max-width: $mobile-max-width) {
  .site-logo {
    width: 68px;
    height: 15px;
  }
}
