.site-navigation {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 470px;

  font-size: 14px;

  li {
    margin-right: 40px;

    &:last-child {
      margin-right: auto;
    }

    margin-bottom: 10px;
  }

  a {
    color: $lightest;

    @include lightest-link-conditions;
  }
}

@media (max-width: $tablet-max-width) {
  .site-navigation {
    max-width: 421px;

    li {
      margin-right: 30px;
    }
  }
}

