.js {
  .slider__wrapper {
    overflow: hidden;

    &--reviews {
      box-shadow: 0 0 40px rgba($dark, 0.2);
    }
  }

  .slider__list {
    flex-wrap: nowrap;

    transition: 0.5s;
  }

  .slider__item {
    margin-right: 3.46%;
    margin-bottom: 0;

    box-shadow: none;
  }
}

.slider {
  position: relative;
  padding: 0 56px;
}

.slider__wrapper {
  margin: 0 auto;

  &--reviews {
    max-width: 566px;
  }
}

.slider__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
}

.slider__item {
  flex-shrink: 0;
}

.slider__buttons-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;
  justify-content: space-between;
  width: 100%;

  transform: translate(-50%, calc(-50% - 20px));

  &--hidden {
    display: none;
  }
}

.slider__button {
  width: 18px;
  height: 34px;
  padding: 0;

  background-color: transparent;
  background-image: url("../img/bg-icon-arrow-pointer.svg");

  border: none;

  cursor: pointer;

  &--next {
    transform: rotate(180deg);
  }

  &:disabled {
    opacity: 0.3;

    cursor: default;
  }

  &:hover,
  &:focus {
    outline: 1px dotted rgba($dark, 0.6);

    &:disabled {
      outline: none;
    }
  }

  &:active {
    outline: none;

    opacity: 0.3;
  }
}

@media (max-width: $tablet-max-width) {
  .js {
    .slider__item {
      margin-right: 30px;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .js {
    .slider__wrapper {
      box-shadow: 0 0 40px rgba($dark, 0.2);
    }
  }

  .slider {
    padding: 0 32px;
  }

  .slider__buttons-wrapper {
    transform: translate(-50%, -50%);
  }

  .slider__button {
    width: 10px;
    height: 19px;

    background-size: contain;
  }
}
