@font-face {
  font-family: "Font";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/font-400.woff2") format("woff2"),
    url("../fonts/font-400.woff") format("woff");
}

@font-face {
  font-family: "Font";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("../fonts/font-700.woff2") format("woff2"),
    url("../fonts/font-700.woff") format("woff");
}
