@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin bebas-neue-400 {
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-weight: 400;
}

@mixin bebas-neue-700 {
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-weight: 700;
}

@mixin lightest-link-conditions {
  &:hover,
  &:focus {
    color: rgba($lightest, 0.6);
  }

  &:focus {
    outline: 1px dotted rgba($lightest, 0.8);
    outline-offset: 2px;
  }

  &:active {
    color: rgba($lightest, 0.3);

    outline: 0;
  }
}

@mixin visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

@mixin block-title {
  @include bebas-neue-700;
  line-height: 1;
  letter-spacing: 0.03em;
  color: $darker;
  text-transform: uppercase;
}

@mixin block-title-desktop {
  @include block-title;
  font-size: 49px;
}

@mixin block-title-tablet {
  @include block-title;
  font-size: 42px;
}

@mixin block-title-mobile {
  @include block-title;
  font-size: 32px;
}
