// colors
$light: #f8f9fc;
$lighter: #e8e8e8;
$lightest: #ffffff;
$dark: #1c3374;
$darker: #102654;
$darkest: #030a1a;
$brightlight: #d10a42;
$brightlightest: #ed0233;
$brightdark: #495a7d;
$brightdarker: #103aae;
$brightdarkest: #2e35ac;

// width
$desktop-max-width: 1366px;
$desktop-min-width: 1200px;
$tablet-max-width: 1199px;
$tablet-min-width: 768px;
$mobile-max-width: 767px;
$mobile-min-width: 320px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
